header
{
    height: 75px;
    width:100%;
    position: fixed;
    top:0px;
    left:0px;
    background-color: #35ff2a;
    z-index: 1;
}
.container{
    margin: 0px auto;
    padding-top: 70px;
    min-height: 800px;
    width: 1020px;
    background-color: #EEEEEE;
}
header h1,
header nav
{
    float:left;
}

header .container
{

    padding-top: 0px;
    background-color: transparent;
    color: #ffffff;
    min-height: 10px;
}
header .user-info {
    float:right;
    position:relative;
    padding-left: 50px;
    line-height: 25px;
    vertical-align: middle;
}
header .user-info img
{
    width: 40px;
    height:40px;
    top:5px;
    position: absolute;
    left: 5px;
}
header span
{
    color: #c80003;
}
.user-input {
    width: 100%;
    padding: 5px;
}
.user-input label{
    display: block;
    width: 100%;
}
input[type=text],
input[type=password]{
    display: inline-block;
    border: #333333 1px solid;
    padding: 4px 6px;
}

.grid
{
    padding:15px;
    background-color: blueviolet;
}
.content
{
    height: 600px;
    padding: 15px;
    background-color: #c8bab6;
}
.form-control
{
    width:auto;
    padding-top: 5px;
    display: inline-block;

}
.date
{
    width:35%;
}
.birthday
{
    width:100%;
}
.footer
{
    width:100%;
    background-color: #1b6d85;
}
#home_page
{
    text-decoration: none;
}
a:visited
{
    text-decoration: none;
}
a {
    text-decoration: none;
}
.center-log-in-page
{
    margin-top: 20%;
    display: flex;
    justify-content: center;
    padding: 3px;
}
#log-in-form
{
    border: #c80003;
    border-style: solid;
    padding: 5px;
    border-radius: 3%;
}
#register-form
{
    display: flex;
    justify-content: center;
}